.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #e0f7fa;
}

.loginBox {
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.header {
  font-size: 24px;
  color: #0288d1;
  margin-bottom: 20px;
}

.inputGroup {
  margin-bottom: 20px;
}

.input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.submitBtn {
  width: 100%;
  padding: 12px;
  background-color: #0288d1;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submitBtn:hover {
  background-color: #0277bd;
}

.clock {
  margin: 10;
  padding: 10;
  color: #0288d1;
}

.footer {
  color: gray;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 5px;
}

.footer p {
  margin: 0;
}

.logoContainer {
  margin-bottom: 20px;
}
